cpi = read.csv("C:/Users/kumbalas-INS/Downloads/cpi.csv")

colnames(cpi)

subset = subset(cpi, select= c("REF_DATE", "VALUE", "Alternative.measures"))

unique(subset$Alternative.measures)

install.packages("dplyr")

library(dplyr)

subset = subset%>% filter(Alternative.measures == "Measure of core inflation based on a factor model, CPI-common (year-over-year percent change)")

subset = subset(subset, select= c("REF_DATE", "VALUE"))

install.packages("quantmod")

library(quantmod)

subset$REF_DATE <- as.yearmon(subset$REF_DATE)
